# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
results.csv
export.json
package-lock.json

# Reports
reports/
junit-report/

# Dependency directories
node_modules/
.vscode

# dotenv environment variables file
.env
.env.test
.env.prod
.env.noprod

# Files
urls.txt
statistics/
responses/
_results_/